

.App {
  width: $PrimWidth;
  background-color: white;
  @include flexBox(column);
  text-align: center;
}

.App-logo {
  width: 210px;
  height: 68px;
  pointer-events: none;
}

.App-header {
  width: $PrimWidth;
  max-width: 1240px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: $PrimColor;
  position: relative;
}

.App-navigation {
  position: absolute;
  right: 0;
  width: 23%;
  text-align: right;
  justify-content: right;
  font-size: 24px;
  color: #000;
}

.App-navigation ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-link-home, .App-link-about{
  color: #000;
  text-decoration: none;
}

.App-link-active {
  text-decoration: underline;
}

.App-navigation a:hover{
  text-decoration: underline;
}

.App-link {
  color: $PrimColor;
}

.App-copyright {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}



