

.App {
  width: $PrimWidth;
  @include flexBox(column);
}
.App-container {
    width: 86.2%;
    max-width: 1240px;
}
.App-logo {
  width: 210px;
  height: 68px;
  pointer-events: none;
}

.App-header {
  width: 100%;
  display: flex;
  font-size: 18px;
  color: $PrimColor;
  align-items: center;
}

.App-navigation {
  display: flex;
  width: 100%;
  justify-content: end;
  font-size: 24px;
  color: #000;
}

.App-navigation ul{
  display: flex;
  gap: 57px;
}

.App-link-home, .App-link-about{
  color: #000;
  text-decoration: none;
}

.App-link-active {
  text-decoration: underline;
}

.App-navigation a:hover{
  text-decoration: underline;
}

.App-link {
  color: $PrimColor;
}

.App-copyright {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}



