.App {
  width: 1440px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  width: 1240px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: #FF6060;
}

.App-navigation {
  position: relative;
  left: calc(100% - 489px);
  right: 0;
  width: 300px;
  font-size: 24px;
  color: #000;
}

.App-navigation ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.App-navigation a{
  color: #000;
  text-decoration: none;
}

.App-navigation a:hover{
  text-decoration: underline;
}

.App-banner {
  width: 1240px;
  height: 223px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: color;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  align-content: center;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-shadow: black -1px -1px, 0 5px 5px rgba(0,0,0,0.2);
}

.App-link {
  color: #FF6060;
}

.App-copyright {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}

.App-card {
  width: 340px;
  height: 340px;
  box-sizing: border-box;
  background-color: #FF6060;
  border-radius: 10px;
  color: #FFF;
  transition: transform 200ms;
  &:hover {
    transform: scale(1.1);
  }
}

.App-cardTitle {
  position: relative;
  width: 50%;
  padding-left: 15px;
  text-align: left;
  bottom:-270px;
  overflow: hidden;
}

.App-Gallery {
  width: 1240px;
  height: 820px;
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-row: 2;
  grid-gap: 30px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #F6F6F6;
  border-radius: 10px;
  overflow: hidden;
}

.App-Gallery a {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  text-shadow: #000;
}

.slideshow-container {
  position: relative;
  width: 1240px;
  height: 415px;
  overflow: hidden;
}

.App-slide {
  width: 100%;
  height: 415px;
  position: absolute;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
  border-radius: 20px;
  opacity: 0;
}

.App-slide.active {
  opacity: 1;
}

.App-collapse{
  position: relative;
  z-index: 2;
  border-radius: 10px;
  line-height: 50px;
  font-weight: 'normal';
  height: 52px;
  background-color: #FF6060;
  color: white;
  box-sizing: border-box;
  margin-top: 20px;
}

.App-collapse-button{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transform: rotate(0deg);
}

.collapse-active{
  transform: rotate(180deg);
  transition: transform 300ms ease;
}

.App-collapse-text {
  position: relative;
  top: -50px;
  height: 0;
  padding: 20px 10px 10px 10px;
  border-radius: 0 0 10px 10px;
  font-weight: 'normal';
  background-color: #F6F6F6;
  opacity: 0;
  transition: all 200ms ease-out;
  color: black;
}

.open {
    top:-5px;
    opacity: 1;
    height: auto;
    min-height: fit-content;
    transition: all 200ms ease-in;
}


